node_modules
npm-debug.log
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
backend/node_modules
frontend/node_modules
backend/.env
frontend/.env
backend/dist
frontend/dist
backend/.strapi-updater.json